<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "nav">
    <h1 class="apptitle"> Music App</h1> 
    <% if logged_in? %>
        <h3> Hello <%= current_user.email %></h3>
        <form method = "POST" action = "<%= session_url %>" >
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type= "hidden" name = "_method" value = "DELETE">
          <input type="submit"  value="sign out" class="delete_btn">
        </form>
      <% else %>
      <div>
        <a href="<%= new_user_url %>" id="signup">sign up</a>
        <a href="<%= new_session_url%>"> log in</a>
      </div>
    <% end %>
    </div>
    <%= yield %>

  </body>
</html>
