<p class="bandname"><%= @band.name %></p>
<% @band.albums.each do |album| %>
    <a href="<%=album_url%>"><%= album.title %></a>
<% end %>



<a href="<%= edit_band_url%>">Edit Band</a>
<form action="<%= band_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete" class="delete_btn">
</form>
<a href="<%=bands_url%>">back to bands</a>
